container {
    max-width:400px;
    border: solid 1px #FF773E;
    border-radius:10px 10px 0px 0px;
  }

  /*
  @最大横幅を400px
  @枠線を１pxのオレンジ’
  @上下左右の角を丸にする
  */

header {
    background: #FF773E
    border-radius:10px 10px 0px 0px;//
    padding: 15px;
    font-size: 25px;
  }
label{
  padding: 15px;
}
/*
@背景をオレンジにする
@上下左右の角を丸にする
@内側空白を15pxにする
＠フォントのサイズを25px
*/


fieldset{
    padding: 15px;
  }

/*
@ヘッダーとログインIDの間に15pxの空白を開ける
*/
